discord.py==2.1
PyYAML==6.0
python-dotenv==0.21.0
SQLAlchemy==1.4.46
SQLAlchemy-Utils==0.39.0

# local unit testing libraries
pytest
pytest-cov
dpytest
pip-audit
bandit
isort
pylint
mypy
prettier
black